.jumbotron {
    padding-top: 6rem;
background-color: white;
}

#about {
    background-color: #fbf8c1;
}


/*** galery Start ***/

.project-img {
    position: relative;
    padding: 15px;
}

.project-img::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    background: var(--bs-teal);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: .5s;
}

.project-img::after {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--bs-primary);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: .5s;
}

.project-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.project-content a {
    display: inline-block;
    padding: 20px 25px;
    background: var(--bs-primary);
    border-radius: 10px;
}

.project-item:hover .project-content {
    opacity: 1;
    transition: .5s;
}

.project-item:hover .project-img::before,
.project-item:hover .project-img::after {
    opacity: 0;
}

/*** galery End ***/

/*** awal animasi ***/
svg#freepik_stories-high-school:not(.animated) .animable {opacity: 0;}
svg#freepik_stories-high-school.animated #freepik--Floor--inject-160 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38)
zoomIn;animation-delay: 0s;}
svg#freepik_stories-high-school.animated #freepik--Clouds--inject-160 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38)
lightSpeedRight;animation-delay: 0s;}
svg#freepik_stories-high-school.animated #freepik--high-school-building--inject-160 
{animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) 
slideUp;animation-delay: 0s;}
svg#freepik_stories-high-school.animated #freepik--Trees--inject-160 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38)
slideRight;animation-delay: 0s;}
svg#freepik_stories-high-school.animated #freepik--Plants--inject-160 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38)
fadeIn;animation-delay: 0s;}
svg#freepik_stories-high-school.animated #freepik--character-4--inject-160 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38)
slideDown;animation-delay: 0s;}
svg#freepik_stories-high-school.animated #freepik--character-3--inject-160 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38)
slideDown;animation-delay: 0s;}
svg#freepik_stories-high-school.animated #freepik--character-2--inject-160 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38)
slideDown;animation-delay: 0s;}
svg#freepik_stories-high-school.animated #freepik--character-1--inject-160 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) 
zoomIn;animation-delay: 0s;}

@keyframes zoomIn {
0% {
opacity: 0;
transform: scale(0.5);}
100% {
opacity: 1;
transform: scale(1);}}
@keyframes lightSpeedRight {
from {transform: translate3d(50%, 0, 0) skewX(-20deg);
opacity: 0;}
60% {transform: skewX(10deg);
opacity: 1;}
80% {transform: skewX(-2deg);}
to {opacity: 1;
transform: translate3d(0, 0, 0);}}
@keyframes slideUp {
0% {opacity: 0;
transform: translateY(30px);}
100% {
opacity: 1;
transform: inherit;}}
@keyframes slideRight {
0% {
opacity: 0;
transform: translateX(30px);}
100% {
opacity: 1;
transform: translateX(0);}}
@keyframes fadeIn {
0% {
opacity: 0;}
100% {
opacity: 1;}}
@keyframes slideDown {
0% {opacity: 0;
transform: translateY(-30px);}
100% {opacity: 1;
transform: translateY(0);}}

/*** akhir animasi ***/

/*** Contact Start ***/
.contact-detail::before {
    position: absolute;
    content: "";
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(210, 243, 235, 1), rgba(230, 250, 245, .3)), url(../image/background.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    z-index: -1;
}

.contact-map {
    background: #26d48c;
}

.contact-form {
    background: #26d48c;
}

/*** Contact End ***/



/*** Footer Start ***/

.footer .short-link a,
.footer .help-link a,
.footer .contact-link a {
    transition: .5s;
}

.footer .short-link a:hover,
.footer .help-link a:hover,
.footer .contact-link a:hover {
    letter-spacing: 1px;
}

.footer .hightech-link a:hover {
    background: var(--bs-secondary);
    border: 0;
}

/*** Footer End ***/

